<%- include('partials/header.ejs') %>
    <header>
        <h2>San Diego Padres</h2>
    </header>
    <div id="baseball">
        <main>
            <h3>Swing on 3-0</h3>
            <figure class="text-center">
                <img src="/img/padres-logo.jpg" class="image-fluid" alt="San Diego Padres logo">
            </figure>
            <p>Well...Tony Gwynn played here.</p>
            <figure class="text-center">
                <img src="/img/tony-gwynn.jpeg" class="image-fluid" alt="Picture of Tony Gwynn">
                <figcaption>Tony Gwynn had a lifetime batting average of .338 according to <cite><a href="https://www.baseball-reference.com/players/g/gwynnto01.shtml" target="_blank">baseball-reference.com</a></cite></figcaption>
            </figure>
            <p>The San Diego Padres may not actually be the best baseball team of all-time, but I am from San Diego so this is the choice.</p>
            <p>There aren't many statistics to cite to support this claim...</p>
            <h4>Honorable Mentions</h4>
            <ul class="honorable-mentions">
                <li>San Francisco Giants</li>
            </ul>
        </main>
    </div>
<%- include('partials/footer.ejs') %>
