<%- include('partials/header.ejs') %>
    <header>
        <h2>Las Vegas Raiders</h2>
    </header>
    <div id="football">
        <main>
            <h3>Commitment To Excellence</h3>
            <figure class="text-center">
                <img src="/img/raiders-logo.png" class="image-fluid" alt="Las Vegas Raiders logo">
            </figure>
            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active" data-interval="10000">
                        <img src="/img/jim-plunkett.jpeg" class="d-block w-100" alt="Picture of Jim Plunkett">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>First Native American Quarterback</h5>
                            <p>Jim Plunkett won two superbowls for the Raiders after replacing the legendary <%= fakeFootballPlayer %>.</p>
                        </div>
                    </div>
                    <div class="carousel-item" data-interval="10000">
                        <img src="/img/art-shell.jpg" class="d-block w-100" alt="Picture of Art Shell">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>First African-American Head Coach of the Modern Era</h5>
                            <p>Art Shell followed up his hall-of-fame playing career by coaching the Raiders over two separate stints.</p>
                        </div>
                    </div>
                    <div class="carousel-item" data-interval="10000">
                        <img src="/img/tom-flores.jpg" class="d-block w-100" alt="Picture of Tom Flores">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>First Latino Head Coach</h5>
                            <p>Tom Flores played quarterback for the Raiders and later coached the team to two superbowl victories.</p>
                        </div>
                    </div>
                    <div class="carousel-item" data-interval="10000">
                        <img src="/img/amy-trask.jpg" class="d-block w-100" alt="Picture of Amy Trask">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>First Female CEO of an NFL Franchise</h5>
                            <p>Amy Trask a.k.a. The Princess of Darkness.</p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
                <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
            </div>
            <h4>Honorable Mentions</h4>
            <ul class="honorable-mentions">
                <li>None. Just Win Baby.</li>
            </ul>
        </main>
    </div>
<%- include('partials/footer.ejs') %>
