<%- include('partials/header.ejs') %>
    <header>
        <h1>Best Sports Teams of All-time</h1>
    </header>
    <main>
        <figure class="main-image">
            <img src="/img/al-davis.jpg" alt="Picture of Al Davis" />
        </figure>
        
        <div>
            <p>
                Thank you for visiting my website! Here you will find a guide to the greatest sports teams of all-time. Of course, the content here is only my opinion.
            </p>
            <small>My opinions, in this case, happen to be correct &#128516;</small>
        </div>
    </main>
<%- include('partials/footer.ejs') %>

