<%- include('partials/header.ejs') %>
    <header>
        <h2>Liverpool FC</h2>
    </header>
    <div id="soccer">
        <main>
            <h3>You'll Never Walk Alone</h3>
            <figure class="text-center">
                <img src="/img/liverpool-logo.png" class="image-fluid" alt="Liverpool FC logo">
            </figure>
            <p><cite><a href="https://en.wikipedia.org/wiki/Liverpool_F.C." target="_blank">Liverpool</a></cite> has won more international titles than any other Premier League club.</p>
            <figure class="text-center">
                <img src="img/gerrard.jpeg" class="image-fluid" alt="Picture of Steven Gerrard">
                <figcaption><%= name %> lead Liverpool to a victory from behind against AC Milan in 2005.</figcaption>
            </figure>
            <p>Liverpool just wrapped up a historic season, winning the Premier League by 18 points over second place Manchester City.</p>
            <h4>Honorable Mentions</h4>
            <ul class="honorable-mentions">
                <li>FC Barcelona</li>
                <li>Colo Colo</li>
            </ul>
        </main>
    </div>
<%- include('partials/footer.ejs') %>
