h1, h2, h3, h4 {
    text-align: center;
    font-family: "sans-serif";
}

a {
    color: #fff;
}

a:hover {
    color: #ccc;
}

.honorable-mentions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main, footer {
    text-align: center;
}

/* home */
.main-image {
    margin: 5rem;
    border: 1px solid black;
}

/* football */
#football {
    background-color: silver;
}

#carouselExampleCaptions {
    width: 400px;
    height: 400px;
    margin: auto;
}

/* baseball */
#baseball {
    background-color: #261d19;
    color: #fbc721;
}

#baseball .navbar {
    background-color: #fbc721;
}

#baseball nav a {
    color: #261d19;
}

/* soccer */
#soccer .navbar {
    background-color: #019e91;
}

#soccer {
    background-color: #d11f2a;
    color: #fff;
}

#soccer nav a {
    color: white;
}


